@import "../../styles/main.scss";
.reset-password {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;

  &-wrapper {
    background: var(--white);
    padding: 1rem 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 8px;
    width: 25rem;
    box-shadow: var(--fixed-shadow);
    display: flex;
    flex-direction: column;

    @include mobile-screen {
      width: 90%;
    }

    .heading {
      margin-bottom: 1rem;
      color: var(--dark-blue);
      font-size: 1.2rem;
      font-weight: bold;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;

      .auth-btn {
        margin-top: 0rem;
      }
    }
  }
}
