@import "../../styles/main.scss";

.contacts-page-header-wrapper {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1rem;

  @include mobile-screen {
    justify-content: flex-end;
  }

  .button-wrapper {
    padding: 0.4rem 1rem;
    border: none;
    outline: 2px solid var(--dark-blue);
    border-radius: 8px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--dark-blue);
    @include transition-ease;

    &:hover {
      background: var(--dark-blue);
      color: var(--white);
    }

    &.dropdown-menu-btn-active {
      background: var(--dark-blue);
      color: var(--white);
    }

    &-pre-icon,
    &-post-icon {
      display: flex;

      &.create-btn {
        font-size: 1rem;
      }
    }

    &.create-btn {
      background: var(--dark-blue);
      color: var(--white);

      @include mobile-screen {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        border-radius: 10px;
        box-shadow: 12px 13px 42px -8px rgba(0, 0, 0, 0.506);
      }

      &:hover {
        color: var(--dark-blue);
        background: var(--white);
        outline: none;

        @include mobile-screen {
          outline: 2px solid var(--dark-blue);
        }
      }
    }
  }

  .button-wrapper-post-icon {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;

    &.dropdown-menu-open {
      transform: rotate(180deg);
    }
  }

  .sort-by-dropdown-parent {
    position: relative;
    .sort-dropdown-menu {
      position: absolute;
      background: var(--dropdown-menu-background);
      color: var(--dark-blue);
      border-radius: 8px;
      top: 1.8rem;
      left: -4.5rem;
      width: 12rem;
      padding: 0.8rem;
      z-index: 4;
      box-shadow: var(--elevate-shadow);
      display: none;
      opacity: 0;
      visibility: hidden;
      @include transition-ease;

      @include mobile-screen {
        position: fixed;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        max-height: 18rem;
        border-radius: 16px 16px 0 0;
        display: block;
        background: var(--dropdown-menu-background);
        @include transition-ease;
      }

      &.dropdown-open {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(10px);

        @include mobile-screen {
          transform: translateY(-100%);
        }
      }

      &-field-item,
      &-order-item {
        margin: 0.5rem 0;
        cursor: pointer;
        font-size: 0.8rem;
      }

      &-field-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .sort-dropdown-tick-icon {
          color: var(--employee-status);
        }
      }

      &-order-item {
        display: flex;
        align-items: center;
        gap: 0.2rem;

        .sort-dropdown-tick-icon {
          color: var(--employee-status);
        }
      }

      &-seperator {
        width: 100%;
        border: 0.5px solid var(--light-grey);
      }

      .sort-dropdown-footer-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .sort-apply-btn {
          margin-top: 1rem;
          border: none;
          outline: 2px solid var(--light-grey);
          padding: 0.5rem 1rem;
          border-radius: 5px;
          text-transform: uppercase;
          font-size: 0.6rem;
          font-weight: bold;
          color: var(--dark-blue);
          background: transparent;
          cursor: pointer;
          @include transition-ease;

          &:hover {
            background: var(--dark-blue);
            color: var(--white);
            outline: 2px solid var(--dark-blue);
          }
        }
      }

      .sort-by-title {
        display: none;

        @include mobile-screen {
          display: block;
          margin-bottom: 0.5rem;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }

  .filter-by-dropdown-parent {
    position: relative;
    .filter-dropdown-menu {
      position: absolute;
      background: var(--dropdown-menu-background);
      color: var(--dark-blue);
      border-radius: 8px;
      top: 1.8rem;
      left: -14.8rem;
      width: 22rem;
      padding: 1rem 0.8rem;
      z-index: 4;
      box-shadow: var(--elevate-shadow);
      display: none;
      opacity: 0;
      visibility: hidden;
      @include transition-ease;

      @include mobile-screen {
        position: fixed;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        border-radius: 16px 16px 0 0;
        display: block;
        background: var(--dropdown-menu-background);
        overflow-y: auto;
        @include transition-ease;
      }

      &.dropdown-open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 1;
        visibility: visible;
        transform: translateY(10px);

        @include mobile-screen {
          transform: translateY(-100%);
        }
      }

      .filter-by-title {
        display: none;

        @include mobile-screen {
          display: block;
          margin-bottom: 0.5rem;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .seperator {
        width: 100%;
        margin-top: 0.2rem;
        border: 0.5px solid var(--light-grey);
      }

      &-field {
        .heading {
          font-weight: bold;
          font-size: 1.2rem;
        }

        &-list {
          display: flex;
          gap: 0.5rem;
          margin-top: 0.8rem;
          margin-bottom: 0.6rem;

          &-item {
            color: var(--dark-blue);
            background: var(--white);
            padding: 0.3rem 0.8rem;
            border-radius: 1rem;
            font-size: 0.7rem;
            @include transition-ease;

            &:hover {
              background: var(--dark-blue);
              color: var(--white);
              cursor: pointer;
            }

            &.status-active {
              background: var(--dark-blue);
              color: var(--white);
            }
          }

          .company-names-multi-select {
            width: 100%;
          }
        }
      }

      .filter-dropdown-footer-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        .filter-apply-btn {
          margin-top: 1rem;
          border: none;
          outline: 2px solid var(--light-grey);
          padding: 0.5rem 1rem;
          border-radius: 5px;
          text-transform: uppercase;
          font-size: 0.6rem;
          font-weight: bold;
          color: var(--dark-blue);
          background: transparent;
          cursor: pointer;
          @include transition-ease;

          &:hover {
            background: var(--dark-blue);
            color: var(--white);
            outline: 2px solid var(--dark-blue);
          }
        }
      }
    }
  }

  .mobile-screen-filters-overlay {
    display: none;
    @include mobile-screen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      @include transition-ease;

      &.overlay-active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
