@import "../../styles/main.scss";

.avatar-wrapper {
  width: 10rem;
  height: 10rem;
  position: relative;
  margin-inline: auto;
  margin-bottom: 1.5rem;

  @include mobile-screen {
    height: 8rem;
    width: 8rem;
  }

  .profile-avatar {
    height: 100%;
    border-radius: 50%;
    border: 0.8rem solid #d1d1d189;
    overflow: hidden;

    @include mobile-screen {
      border-width: 0.6rem;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  input {
    display: none;
  }

  label {
    position: absolute;
    right: 0.3rem;
    bottom: 1rem;
    background: var(--auth-edit-bg);
    color: #fff;
    font-size: 0.9rem;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    @include transition-ease;

    svg {
      transform: translateX(2px);
    }

    &:hover {
      background: var(--auth-btn-hover-color);
    }

    @include mobile-screen {
      height: 1.8rem;
      width: 1.8rem;
      right: 0.1rem;
      bottom: 0.5rem;
      font-size: 0.8rem;
    }
  }
}
