@import "../../styles/main.scss";
.user-profile {
  min-height: calc(100vh - 5rem);
  padding: 1.5rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &-wrapper {
    width: 35rem;
    padding: 1rem;
    border-radius: 8px;
    background: var(--white);
    overflow: hidden;
    box-shadow: var(--fixed-shadow);

    @include mobile-screen {
      width: 90%;
    }

    .user-profile-heading {
      text-align: center;
      margin: 1rem 0rem;
      font-weight: bold;
      font-size: 1.3rem;
      color: var(--dark-blue);
    }
  }
}
