@import "../../styles/main.scss";
.view-contact-detail {
  width: 50%;

  @include laptop-screen {
    width: 100%;
  }

  &-wrapper {
    height: 100%;
    background: var(--white);
    padding: 0.8rem;
    border-radius: 8px;
    box-shadow: var(--fixed-shadow);

    .contact-profile-container {
      @include laptop-screen {
        display: flex;
        justify-content: space-between;
      }
      .contact-avatar-detail-container {
        display: flex;
        gap: 1rem;

        @include laptop-screen {
          width: 50%;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }

        .contact-avatar-container {
          height: 52px;
          width: 52px;
          overflow: hidden;
          border-radius: 50%;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          @include laptop-screen {
            height: 5rem;
            width: 5rem;
          }
        }

        .contact-profile-start-detail {
          @include laptop-screen {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .contact-name {
            font-size: 0.9rem;
            font-weight: bold;
          }

          .contact-status {
            font-size: 0.8rem;
            color: #c0c0c0;
            font-weight: bold;
          }
        }
      }

      .contact-account-details {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include laptop-screen {
          margin-top: 0rem;
          margin-bottom: 1rem;
        }

        .account-details-heading {
          font-size: 1rem;
          font-weight: bold;
          color: var(--auth-btn-disabled-color);
        }

        .account-details-item {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .contact-detail-icon {
            font-size: 0.8rem;
          }

          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
