@import "../../styles/main.scss";
.homepage {
  min-height: calc(100vh - 5rem);

  &-wrapper {
    padding: 0.8rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .dashboard-heading {
      color: var(--dark-blue);
      font-size: 1.4rem;
      font-weight: 600;
      display: flex;
      gap: 0.5rem;

      @include mobile-screen {
        font-size: 1.2rem;
        flex-direction: column;
        gap: 0rem;
      }
    }

    .dashboard-footer-data {
      display: flex;
      gap: 1rem;

      @include laptop-screen {
        flex-direction: column;
      }
    }
  }
}
