@import "../../styles/main.scss";

.auth-body {
  height: 100%;
  display: flex;
  justify-content: space-between;

  &-left {
    flex: 1;
    padding: 0.8rem;
    position: relative;

    .logo-section {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      height: 2rem;

      img {
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }

      .web-app-name {
        font-weight: 600;
        font-size: 0.9rem;
      }
    }

    .auth-form {
      margin: 3rem;

      @include laptop-screen {
        margin: 4rem 2rem;
      }

      @include mobile-screen {
        margin: 3rem 1rem;
      }
      .auth-page-heading {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        h3 {
          font-size: 1.3rem;
        }

        .sub-heading {
          font-weight: 500;
          color: #787676;
          font-size: 0.9rem;

          @include mobile-screen {
            font-size: 0.7rem;
            margin-bottom: 0.5rem;
          }
        }
      }

      .register-name-field{
        display: flex;
        gap: 1rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

      .auth-footer-section {
        position: relative;
        margin-top: 1rem;

        &-heading {
          display: flex;
          flex-direction: column;
          .line {
            height: 1px;
            background: rgba(172, 172, 172, 0.524);
            position: absolute;
            left: 0;
            top: 8px;
            width: 100%;
          }

          span {
            position: absolute;
            left: 40%;
            transform: translateX(-10%);
            padding: 0 0.8rem;
            background: #fff !important;
            font-size: 0.6rem !important;
            color: var(--auth-btn-disabled-color) !important;
          }
        }
      }
    }

    .auth-bottom-navigation-footer {
      position: absolute;
      bottom: 15px;
      left: 15px;
      display: flex;
      gap: 0.3rem;
      font-size: 0.7rem;

      p {
        color: var(--auth-btn-disabled-color);
      }

      .navigation-btn {
        color: var(--auth-btn-color);
        cursor: pointer;
      }
    }
  }

  &-right {
    flex: 1;
    .image-container {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    @include laptop-screen {
      display: none;
    }
  }
}
