@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fixed-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  --elevate-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  --auth-btn-color: #1ca1ff;
  --auth-btn-hover-color: #0073b1;
  --auth-btn-disabled-color: #a7a7a7;
  --auth-edit-bg: #3771ff;
  --blue-background: #caf0f8;
  --dark-blue: #201658;
  --medium-blue: #1d24ca;
  --body-backgorund: linear-gradient(45deg, #e3f2fd, #bbdefb, #98abee4a);
  --light-background: #f9e8c9;
  --navbar-background: #e1f7f5;
  --scrollbar-background: #48cae4;
  --white: #fff;
  --black: #000;
  --light-grey: #9f9e9e;
  --employee-status: #3bb077;
  --trainee-status: #d95087;
  --table-scrollbar-track: #d9e1e8;
  --table-scrollbar-thumb: #2d3e50;
  --table-data-hover-background: #e8f0fe;
  --light-border-color: #ddd;
  --dropdown-menu-background: #ebf4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--body-backgorund);
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.px-2 {
  padding: 0rem 1.5rem;
}

::-webkit-scrollbar {
  background: var(--white);
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-background);
}

// MIXINS FOR THE APP
@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}

@mixin nav-links-reveal-transtion {
  transition: all 0.3s ease-out;
}

// MAKING IT RESPONSIVE FOR LAPTOP SCREENS
@mixin laptop-screen {
  @media screen and (max-width: 970px) {
    @content;
  }
}

// MAKING IT RESPONSIVE FOR MOBILE SCREENS
@mixin mobile-screen {
  @media screen and (max-width: 650px) {
    @content;
  }
}
