@import "../../styles/main.scss";
.update-contact-detail {
  width: 100%;
  &-wrapper {
    height: fit-content;
    background: var(--white);
    padding: 0.8rem;
    padding-bottom: 1.5rem;
    border-radius: 8px;
    box-shadow: var(--fixed-shadow);

    .update-contact-detail-container {
      display: flex;
      justify-content: space-between;

      @include mobile-screen {
        flex-direction: column;
        gap: 2rem;
      }

      .contact-profile-avatar-container-mobile {
        display: none;

        @include mobile-screen {
          display: block;
        }
      }

      .contact-profile-update-btn-mobile {
        display: none;

        @include mobile-screen {
          display: block;

          .contact-profile-update-btn {
            background: var(--dark-blue);
            color: var(--white);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

            &:hover {
              outline: 1px solid var(--medium-blue);
              box-shadow: var(--btn-shadow);
            }
          }
        }
      }
    }
  }
}
