.auth-google-btn {
  height: 3rem;
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--auth-btn-disabled-color);
  border-radius: 8px;
  cursor: pointer;
  background: white;

  img {
    height: 70%;
    object-fit: cover;
  }

  .btn-text {
    font-size: 0.8rem;
    font-weight: 550;
  }
}
