@import "../../styles/main.scss";
.contacts-table {
  margin-top: 1rem;

  &-wrapper {
    min-height: 80vh;
    background: var(--white);
    padding: 0.8rem;
    border-radius: 8px;

    &-search-box {
      width: 17rem;
      padding: 0.5rem;
      border: none;
      outline: 1.5px solid var(--dark-blue);
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 0.8rem;

      input {
        border: none;
        outline: none;
        background: none;
        width: 100%;
        font-size: 0.8rem;
        font-weight: bold;
        color: var(--dark-blue);

        &::placeholder {
          color: var(--light-grey);
        }
      }
    }

    &-container {
      margin-top: 1rem;
      max-height: 70vh;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
        background: var(--table-scrollbar-track);
        visibility: hidden;
      }

      &:hover::-webkit-scrollbar {
        visibility: visible;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--table-scrollbar-thumb);
        border-radius: 6px;
        border: 3px solid var(--table-scrollbar-track);
        visibility: hidden;
      }

      &:hover::-webkit-scrollbar-thumb {
        visibility: visible;
        cursor: pointer;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
        padding: 0;

        th {
          &.table-header {
            position: sticky;
            top: 0;
            background: var(--dark-blue);
            color: white;
            padding: 10px;
            text-align: left;
            text-transform: uppercase;
            font-size: 0.8rem;
            border: none;

            &:first-child {
              border-top-left-radius: 8px;
            }
            &:last-child {
              border-top-right-radius: 8px;
            }
          }

          .table-header-div {
            display: inline-block;
          }
        }

        tbody {
          td {
            padding: 10px;
            text-align: left;
            border-top: 1px solid #ddd;
            font-size: 0.8rem;

            .contact-profile {
              display: flex;
              align-items: center;
              gap: 0.8rem;

              img {
                height: 32px;
                width: 32px;
                border-radius: 50%;
                object-fit: cover;
              }
            }

            .contact-working-status {
              button {
                padding: 0.5rem 0.8rem;
                border-radius: 10px;
                border: none;
                cursor: pointer;

                &.employee {
                  background: #e5faf2;
                  color: var(--employee-status);
                }

                &.trainee {
                  background: #fff0f1;
                  color: var(--trainee-status);
                }
              }
            }

            @include laptop-screen {
              &:not(:first-of-type) {
                min-width: 12.1rem;
              }

              &:nth-child(3) {
                min-width: 14rem;
              }
            }
          }

          tr {
            cursor: pointer;
            @include transition-ease;

            &:nth-child(even) {
              background-color: #f5f7fa;
            }

            &:hover {
              background: var(--table-data-hover-background);
              color: var(--table-scrollbar-thumb);
            }
          }
        }
      }
    }
  }
}
